@charset "UTF-8";
/* variables */
/* functions */
/* mixins */
/* toast 임시 */
.purchase-wrap .purchase-container {
  display: flex;
  flex-direction: column;
  padding-top: 64px;
  background-color: #080d19; }
  .purchase-wrap .purchase-container .focus .input-radio, .purchase-wrap .purchase-container .focus .input-checkbox {
    border-color: #eee; }
  .purchase-wrap .purchase-container .input-radio, .purchase-wrap .purchase-container .input-checkbox {
    position: relative;
    width: 40px;
    height: 40px;
    border: 3px solid #535458;
    border-radius: 50%;
    margin-right: 24px;
    display: block; }
    .purchase-wrap .purchase-container .input-radio::before, .purchase-wrap .purchase-container .input-checkbox::before {
      width: calc(40px - 14px);
      height: calc(40px - 14px);
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      content: ''; }
    .purchase-wrap .purchase-container .input-radio[type=checkbox]::before, .purchase-wrap .purchase-container .input-checkbox[type=checkbox]::before {
      width: 40px;
      height: 40px; }
    .purchase-wrap .purchase-container .input-radio:checked, .purchase-wrap .purchase-container .input-checkbox:checked {
      border: 3px solid #ef3484; }
    .purchase-wrap .purchase-container .input-radio[type=radio]:checked::before, .purchase-wrap .purchase-container .input-checkbox[type=radio]:checked::before {
      background-color: #ef3484; }
    .purchase-wrap .purchase-container .input-radio[type=checkbox]:checked::before, .purchase-wrap .purchase-container .input-checkbox[type=checkbox]:checked::before {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../images/purchase/ic-check-focus2.png); }
  .purchase-wrap .purchase-container .not-discount {
    flex: 1;
    text-align: center; }
    .purchase-wrap .purchase-container .not-discount p {
      margin-top: 120px;
      color: #626373;
      font-size: 3.0rem;
      font-family: "Yoon Gothic 770", "YoonGothic 700 70", "Yoon윤고딕 770", "YoonGothic 770", "YOONGOTHICPRO770"; }
      .purchase-wrap .purchase-container .not-discount p::before {
        width: 120px;
        height: 120px;
        display: block;
        content: '';
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
        margin-bottom: 40px;
        background-image: url(../images/common/ic-noti.png); }
  .purchase-wrap .purchase-container .event {
    margin-top: 20px;
    line-height: 27px;
    font-size: 2.2rem;
    color: #ddd; }
    .purchase-wrap .purchase-container .event em {
      color: #ecafb9;
      letter-spacing: 0.8px; }
      .purchase-wrap .purchase-container .event em::before {
        position: relative;
        top: 4px;
        width: 24px;
        height: 24px;
        margin-right: 8px;
        display: inline-block;
        content: '';
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../images/purchase/ic-detail-ic-detail-event.png); }
  .purchase-wrap .purchase-container .total {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 20px;
    position: relative; }
    .purchase-wrap .purchase-container .total .tooltip-purchase {
      position: absolute;
      z-index: 1;
      text-align: center;
      width: 100%;
      bottom: 64px; }
      .purchase-wrap .purchase-container .total .tooltip-purchase span {
        padding: 0 18px;
        line-height: 54px;
        font-size: 1.8rem;
        background-color: #2A2C3E;
        border-radius: 8px;
        display: inline-block; }
        .purchase-wrap .purchase-container .total .tooltip-purchase span::before {
          position: absolute;
          left: 50%;
          bottom: -5px;
          transform: translate(-50%, 0);
          width: 10px;
          height: 10px;
          transform: rotate(45deg);
          background-color: #2A2C3E;
          display: block;
          content: ''; }
    .purchase-wrap .purchase-container .total .price {
      line-height: 48px;
      font-size: 2.6rem;
      justify-content: center;
      display: flex;
      align-items: center; }
      .purchase-wrap .purchase-container .total .price span {
        letter-spacing: 0.5px; }
      .purchase-wrap .purchase-container .total .price em {
        color: #ef3484;
        margin-left: 24px;
        font-size: 4.0rem;
        letter-spacing: 1.5px; }

.purchase-wrap .purchase-header {
  text-align: center; }
  .purchase-wrap .purchase-header h2 {
    line-height: 60px;
    font-size: 5.2rem;
    font-family: "Yoon Gothic 770", "YoonGothic 700 70", "Yoon윤고딕 770", "YoonGothic 770", "YOONGOTHICPRO770"; }
  .purchase-wrap .purchase-header .sub-text {
    margin-top: 16px;
    line-height: 34px;
    color: #a9a9a9;
    font-size: 2.6rem; }
    .purchase-wrap .purchase-header .sub-text.color-gray {
      color: #a9a9a9; }

.purchase-wrap .list-products {
  position: relative;
  color: #a9a9a9; }
  .purchase-wrap .list-products .ic-tag {
    display: inline-block;
    width: 68px;
    height: 30px;
    background-image: url(../images/purchase/ic-common-tag-my-event-nor.png);
    background-size: cover;
    font-size: 0; }
  .purchase-wrap .list-products.line-none li {
    border-bottom: none; }
    .purchase-wrap .list-products.line-none li.list-selected .focus, .purchase-wrap .list-products.line-none li.list-focus .focus {
      height: 84px; }
      .purchase-wrap .list-products.line-none li.list-selected .focus::after, .purchase-wrap .list-products.line-none li.list-focus .focus::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        box-shadow: 0 0 0 10px #eee;
        border-radius: 8px;
        box-shadow: 0 0 0 4px #eee;
        left: 4px;
        right: 4px;
        display: block; }
  .purchase-wrap .list-products li {
    position: relative;
    height: 91px;
    display: flex;
    align-items: center; }
    .purchase-wrap .list-products li:first-child::before {
      display: none; }
    .purchase-wrap .list-products li:last-child::after {
      position: absolute;
      display: inline-block;
      content: '';
      top: 0;
      left: 0;
      top: unset;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: #2A2C3E; }
    .purchase-wrap .list-products li::before {
      position: absolute;
      display: inline-block;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #2A2C3E; }
    .purchase-wrap .list-products li > div {
      position: relative;
      padding: 0 30px;
      height: 80px;
      justify-content: space-between;
      display: flex;
      align-items: center; }
      .purchase-wrap .list-products li > div.product {
        flex: 1; }
      .purchase-wrap .list-products li > div.change-option {
        position: relative;
        margin-left: 10px;
        font-size: 2.4rem;
        width: 110px;
        justify-content: center; }
        .purchase-wrap .list-products li > div.change-option::before {
          width: 2px;
          height: 36px;
          background-color: #a9a9a9;
          display: inline-block;
          content: '';
          position: absolute;
          left: -6px; }
      .purchase-wrap .list-products li > div.dimmed {
        opacity: 0.5; }
    .purchase-wrap .list-products li .discounted {
      font-size: 2.4rem;
      width: 130px;
      margin-left: 10px;
      margin-right: 15px;
      text-align: right; }
      .purchase-wrap .list-products li .discounted::before {
        display: inline-block;
        content: '';
        content: '-'; }
    .purchase-wrap .list-products li .text {
      display: flex;
      align-items: center; }
      .purchase-wrap .list-products li .text .label {
        font-size: 2.8rem;
        position: relative; }
        .purchase-wrap .list-products li .text .label label {
          display: block;
          line-height: 1;
          line-height: 42px;
          max-width: 420px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
    .purchase-wrap .list-products li .point {
      font-size: 2.6rem; }
    .purchase-wrap .list-products li.type-multiline {
      height: 139px; }
      .purchase-wrap .list-products li.type-multiline > div {
        height: 128px; }
      .purchase-wrap .list-products li.type-multiline .name {
        display: flex;
        align-items: center; }
      .purchase-wrap .list-products li.type-multiline .ic-tag {
        margin-left: 24px;
        position: relative; }
      .purchase-wrap .list-products li.type-multiline .label, .purchase-wrap .list-products li.type-multiline .number {
        opacity: .9;
        font-size: 3.4rem;
        line-height: 1; }
      .purchase-wrap .list-products li.type-multiline .price {
        text-align: right; }
      .purchase-wrap .list-products li.type-multiline .min {
        position: relative;
        height: 30px;
        margin-top: 12px;
        font-size: 2.2rem;
        color: #777; }
        .purchase-wrap .list-products li.type-multiline .min .marquee-child {
          width: 530px;
          height: 100%; }
      .purchase-wrap .list-products li.type-multiline.list-focus > div, .purchase-wrap .list-products li.type-multiline.list-selected > div {
        height: 124px; }
      .purchase-wrap .list-products li.type-multiline.list-focus .focus.product, .purchase-wrap .list-products li.type-multiline.list-selected .focus.product {
        height: 128px; }
        .purchase-wrap .list-products li.type-multiline.list-focus .focus.product .label, .purchase-wrap .list-products li.type-multiline.list-focus .focus.product .number, .purchase-wrap .list-products li.type-multiline.list-selected .focus.product .label, .purchase-wrap .list-products li.type-multiline.list-selected .focus.product .number {
          opacity: 1; }
      .purchase-wrap .list-products li.type-multiline.list-focus .label, .purchase-wrap .list-products li.type-multiline.list-focus .number, .purchase-wrap .list-products li.type-multiline.list-selected .label, .purchase-wrap .list-products li.type-multiline.list-selected .number {
        font-size: 3.8rem; }
        .purchase-wrap .list-products li.type-multiline.list-focus .label.check, .purchase-wrap .list-products li.type-multiline.list-focus .number.check, .purchase-wrap .list-products li.type-multiline.list-selected .label.check, .purchase-wrap .list-products li.type-multiline.list-selected .number.check {
          color: #ef3484; }
      .purchase-wrap .list-products li.type-multiline.list-focus .number, .purchase-wrap .list-products li.type-multiline.list-selected .number {
        line-height: 51px; }
      .purchase-wrap .list-products li.type-multiline.list-focus .name, .purchase-wrap .list-products li.type-multiline.list-selected .name {
        height: 48px; }
      .purchase-wrap .list-products li.type-multiline.list-focus .min, .purchase-wrap .list-products li.type-multiline.list-selected .min {
        font-size: 2.4rem;
        color: #eee; }
    .purchase-wrap .list-products li.selected, .purchase-wrap .list-products li.list-focus, .purchase-wrap .list-products li.list-selected {
      color: #eee;
      border: none; }
      .purchase-wrap .list-products li.selected .text .label, .purchase-wrap .list-products li.list-focus .text .label, .purchase-wrap .list-products li.list-selected .text .label {
        font-size: 3.2rem;
        font-family: "Yoon Gothic 770", "YoonGothic 700 70", "Yoon윤고딕 770", "YoonGothic 770", "YOONGOTHICPRO770"; }
      .purchase-wrap .list-products li.selected .point, .purchase-wrap .list-products li.list-focus .point, .purchase-wrap .list-products li.list-selected .point {
        font-size: 3.0rem;
        font-family: "Yoon Gothic 770", "YoonGothic 700 70", "Yoon윤고딕 770", "YoonGothic 770", "YOONGOTHICPRO770"; }
      .purchase-wrap .list-products li.selected .discounted, .purchase-wrap .list-products li.list-focus .discounted, .purchase-wrap .list-products li.list-selected .discounted {
        font-family: "Yoon Gothic 770", "YoonGothic 700 70", "Yoon윤고딕 770", "YoonGothic 770", "YOONGOTHICPRO770"; }
      .purchase-wrap .list-products li.selected > div, .purchase-wrap .list-products li.list-focus > div, .purchase-wrap .list-products li.list-selected > div {
        background-color: #2A2C3E;
        border-radius: 8px; }
      .purchase-wrap .list-products li.selected > div.change-option::before, .purchase-wrap .list-products li.list-focus > div.change-option::before, .purchase-wrap .list-products li.list-selected > div.change-option::before {
        display: none; }
    .purchase-wrap .list-products li.list-focus .ic-tag, .purchase-wrap .list-products li.list-selected .ic-tag {
      background-image: url(../images/purchase/ic-common-tag-my-event-foc.png); }
    .purchase-wrap .list-products li.list-focus .focus.product, .purchase-wrap .list-products li.list-selected .focus.product {
      height: 84px; }
      .purchase-wrap .list-products li.list-focus .focus.product::after, .purchase-wrap .list-products li.list-selected .focus.product::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        box-shadow: 0 0 0 10px #eee;
        border-radius: 8px;
        box-shadow: 0 0 0 4px #eee;
        left: 4px;
        right: 4px; }
    .purchase-wrap .list-products li.list-focus::before, .purchase-wrap .list-products li.list-selected::before {
      display: none; }
    .purchase-wrap .list-products li.list-focus + li::before, .purchase-wrap .list-products li.list-selected + li::before {
      display: none; }
    .purchase-wrap .list-products li.list-focus:last-child::after, .purchase-wrap .list-products li.list-selected:last-child::after {
      display: none; }

.purchase-wrap .purchase-body {
  margin: 0 auto; }
  .purchase-wrap .purchase-body .purchase-flatrate {
    margin-top: 55px; }
    .purchase-wrap .purchase-body .purchase-flatrate .contents {
      height: 547px; }
      .purchase-wrap .purchase-body .purchase-flatrate .contents::after {
        content: '';
        display: block;
        clear: both; }
    .purchase-wrap .purchase-body .purchase-flatrate .list-products {
      float: left;
      width: 886px;
      height: 556px;
      margin-right: 54px; }
      .purchase-wrap .purchase-body .purchase-flatrate .list-products ul {
        position: relative;
        display: block;
        height: 100%;
        overflow: hidden; }
        .purchase-wrap .purchase-body .purchase-flatrate .list-products ul.dim::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 1;
          width: 100%;
          height: 112px;
          background-image: linear-gradient(to bottom, rgba(8, 13, 25, 0), #080d19); }
      .purchase-wrap .purchase-body .purchase-flatrate .list-products::after {
        opacity: 0;
        width: 886px;
        height: 112px;
        position: absolute;
        bottom: 0;
        background-image: linear-gradient(to top, #080d19, rgba(0, 0, 0, 0));
        display: block;
        content: '';
        content: none; }
      .purchase-wrap .purchase-body .purchase-flatrate .list-products.bottom-cover::after {
        content: ''; }
      .purchase-wrap .purchase-body .purchase-flatrate .list-products .scroll {
        opacity: 0;
        position: absolute;
        top: 0px;
        right: 0px;
        width: 8px;
        height: 100%;
        border-radius: calc(8px / 2);
        background-color: rgba(0, 0, 0, 0);
        z-index: 1;
        right: -27px; }
        .purchase-wrap .purchase-body .purchase-flatrate .list-products .scroll span {
          display: inline-block;
          width: 100%;
          border-radius: calc(8px / 2);
          background-color: rgba(169, 169, 169, 0.3); }
      .purchase-wrap .purchase-body .purchase-flatrate .list-products.active::after, .purchase-wrap .purchase-body .purchase-flatrate .list-products.active .scroll {
        opacity: 1; }
    .purchase-wrap .purchase-body .purchase-flatrate .event-info {
      float: left;
      padding: 20px 30px;
      width: 598px;
      height: 505px;
      border: 2px solid rgba(238, 238, 238, 0.1);
      border-radius: 8px;
      word-break: keep-all;
      overflow: hidden;
      margin-top: 10px; }
      .purchase-wrap .purchase-body .purchase-flatrate .event-info .evnet-title {
        margin-bottom: 14px;
        margin-top: 25px;
        color: #ef3484;
        font-size: 3.2rem;
        font-family: "Yoon Gothic 770", "YoonGothic 700 70", "Yoon윤고딕 770", "YoonGothic 770", "YOONGOTHICPRO770"; }
        .purchase-wrap .purchase-body .purchase-flatrate .event-info .evnet-title:first-child {
          margin-top: 0; }
      .purchase-wrap .purchase-body .purchase-flatrate .event-info .event-exp {
        font-size: 2.6rem;
        color: #aaaaaa; }
        .purchase-wrap .purchase-body .purchase-flatrate .event-info .event-exp p {
          line-height: 36px; }
    .purchase-wrap .purchase-body .purchase-flatrate .add-exp {
      margin: 90px 0 54px 0;
      text-align: center;
      font-size: 2.6rem;
      color: #999;
      line-height: 32px; }

.purchase-wrap .purchase-step {
  margin-top: 48px;
  display: flex; }
  .purchase-wrap .purchase-step .stepper {
    position: relative; }
    .purchase-wrap .purchase-step .stepper.active h3 {
      z-index: 2;
      height: 100%;
      color: #eee;
      font-size: 3.2rem;
      font-family: "Yoon Gothic 770", "YoonGothic 700 70", "Yoon윤고딕 770", "YoonGothic 770", "YOONGOTHICPRO770"; }
  .purchase-wrap .purchase-step .title {
    position: relative;
    width: 312px;
    height: 70px;
    display: flex;
    align-items: center; }
    .purchase-wrap .purchase-step .title h3 {
      position: relative;
      width: 100%;
      height: 58px;
      justify-content: center;
      font-size: 2.6rem;
      color: rgba(238, 238, 238, 0.7);
      display: flex;
      align-items: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .purchase-wrap .purchase-step .title.dim h3 {
      background-color: #121424; }
  .purchase-wrap .purchase-step .contents {
    position: relative;
    margin: 28px auto 0;
    height: 635px; }
  .purchase-wrap .purchase-step .step1 {
    width: 301px; }
    .purchase-wrap .purchase-step .step1 .faint h3 {
      background-color: #2A2C3E; }
    .purchase-wrap .purchase-step .step1.active {
      width: 999px; }
      .purchase-wrap .purchase-step .step1.active .title {
        width: 1010px; }
        .purchase-wrap .purchase-step .step1.active .title h3 {
          background-image: url(../images/purchase/step1-focus.png); }
      .purchase-wrap .purchase-step .step1.active .contents {
        width: 698px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 12px;
        padding-left: 10px; }
  .purchase-wrap .purchase-step .step2 {
    width: 294px; }
    .purchase-wrap .purchase-step .step2 .contents {
      height: 648px; }
      .purchase-wrap .purchase-step .step2 .contents .total {
        padding-right: 39px; }
    .purchase-wrap .purchase-step .step2::before, .purchase-wrap .purchase-step .step2::after {
      width: 2px;
      height: 520px;
      background-color: rgba(255, 255, 255, 0.12);
      display: block;
      content: '';
      position: absolute;
      top: 98px; }
    .purchase-wrap .purchase-step .step2::before {
      left: 2px; }
    .purchase-wrap .purchase-step .step2::after {
      right: 2px; }
    .purchase-wrap .purchase-step .step2 .title {
      right: 10px; }
    .purchase-wrap .purchase-step .step2 .faint h3 {
      background-image: url(../images/purchase/step2.png);
      z-index: 1; }
    .purchase-wrap .purchase-step .step2 .faint.alt h3 {
      background-image: url(../images/purchase/step2-2.png); }
      .purchase-wrap .purchase-step .step2 .faint.alt h3::after {
        display: block;
        content: '';
        background-color: #2A2C3E;
        width: 30px;
        height: 100%;
        position: absolute;
        right: -15px; }
    .purchase-wrap .purchase-step .step2 .list-products li::before, .purchase-wrap .purchase-step .step2 .list-products li::after {
      width: calc(100% - 155px); }
    .purchase-wrap .purchase-step .step2 .list-products .bubble-title {
      text-align: right; }
      .purchase-wrap .purchase-step .step2 .list-products .bubble-title span {
        padding: 0 15px;
        height: 62px;
        line-height: 62px;
        text-align: center;
        font-size: 2.4rem;
        background-color: #2A2C3E;
        border-radius: 8px;
        display: inline-block;
        position: relative; }
        .purchase-wrap .purchase-step .step2 .list-products .bubble-title span.focus {
          color: #eee; }
          .purchase-wrap .purchase-step .step2 .list-products .bubble-title span.focus::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            box-shadow: 0 0 0 10px #eee;
            border-radius: 8px;
            box-shadow: 0 0 0 4px #eee;
            left: 4px;
            right: 4px; }
    .purchase-wrap .purchase-step .step2 .list-products .add-exp {
      width: 674px;
      margin-top: 20px;
      padding: 0 0 0 62px;
      font-size: 2.0rem;
      color: #777; }
      .purchase-wrap .purchase-step .step2 .list-products .add-exp p {
        line-height: 25px;
        word-break: keep-all; }
    .purchase-wrap .purchase-step .step2.active {
      width: 992px; }
      .purchase-wrap .purchase-step .step2.active .title {
        width: 1010px; }
        .purchase-wrap .purchase-step .step2.active .title h3 {
          background-image: url(../images/purchase/step2-focus.png); }
      .purchase-wrap .purchase-step .step2.active .contents {
        width: 857px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
  .purchase-wrap .purchase-step .step3 {
    width: 301px; }
    .purchase-wrap .purchase-step .step3 .contents {
      height: 633px; }
      .purchase-wrap .purchase-step .step3 .contents .total .price {
        justify-content: start;
        padding-left: 149px; }
        .purchase-wrap .purchase-step .step3 .contents .total .price em {
          margin-left: 17px; }
    .purchase-wrap .purchase-step .step3 .default::before {
      background-image: url(../images/purchase/ic-pay.png); }
    .purchase-wrap .purchase-step .step3 .title {
      right: 10px; }
    .purchase-wrap .purchase-step .step3.active {
      width: 990px; }
      .purchase-wrap .purchase-step .step3.active .title {
        width: 1010px; }
        .purchase-wrap .purchase-step .step3.active .title h3 {
          background-image: url(../images/purchase/step3-focus.png); }
      .purchase-wrap .purchase-step .step3.active .contents {
        width: 698px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 14px; }

.purchase-wrap .purchase-amount {
  margin-top: 20px;
  border-top: 2px solid #222222;
  padding-top: 16px;
  justify-content: flex-end;
  display: flex;
  align-items: center; }
  .purchase-wrap .purchase-amount p {
    color: #777;
    font-size: 2.4rem;
    line-height: 38px;
    margin-left: 40px; }
    .purchase-wrap .purchase-amount p em {
      color: #eee;
      margin-left: 16px;
      font-size: 2.8rem; }

.purchase-wrap .info-selected {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .purchase-wrap .info-selected .default {
    text-align: center;
    margin: 0 auto;
    color: #626373;
    padding: 200px 0 93px;
    font-size: 3.0rem;
    font-family: "Yoon Gothic 770", "YoonGothic 700 70", "Yoon윤고딕 770", "YoonGothic 770", "YOONGOTHICPRO770"; }
    .purchase-wrap .info-selected .default::before {
      margin: 0 auto;
      margin-bottom: 16px;
      width: 88px;
      height: 64px;
      display: block;
      content: '';
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../images/purchase/ic-sale.png); }
  .purchase-wrap .info-selected .summary-product {
    padding-top: 26px; }
    .purchase-wrap .info-selected .summary-product .poster-vertical {
      width: 210px;
      height: 300px;
      margin: 0 auto; }
      .purchase-wrap .info-selected .summary-product .poster-vertical .poster-thumbnail {
        height: 100%;
        border-radius: 0;
        background-image: linear-gradient(169deg, #595d72 -33%, #251d3e 80%);
        background-position: 50% 50%;
        background-size: cover; }
    .purchase-wrap .info-selected .summary-product .name {
      width: 274px;
      height: 30px;
      font-size: 2.4rem;
      margin: 12px auto 0;
      line-height: 30px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
  .purchase-wrap .info-selected .price {
    font-size: 2.6rem;
    line-height: 32px; }
    .purchase-wrap .info-selected .price span {
      display: block; }
    .purchase-wrap .info-selected .price em {
      margin-top: 12px;
      line-height: 43px;
      display: block;
      color: #ef3484;
      font-size: 3.2rem; }
    .purchase-wrap .info-selected .price .no-sale {
      margin-bottom: 7px;
      line-height: 42px; }

.purchase-wrap .button-area {
  height: 98px; }
  .purchase-wrap .button-area button + button {
    margin-left: 10px; }

.purchase-wrap .purchase-step2 .step1 .price, .purchase-wrap .purchase-step3 .step1 .price {
  margin-top: 45px; }

.purchase-wrap .purchase-subscribe {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 678px;
  max-height: 802px;
  margin-top: 60px; }
  .purchase-wrap .purchase-subscribe .list-products ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .purchase-wrap .purchase-subscribe .list-products li.list-focus .focus, .purchase-wrap .purchase-subscribe .list-products li.list-selected .focus {
    box-shadow: 0 0 0 4px #eee; }
    .purchase-wrap .purchase-subscribe .list-products li.list-focus .focus.product, .purchase-wrap .purchase-subscribe .list-products li.list-selected .focus.product {
      height: 80px; }
    .purchase-wrap .purchase-subscribe .list-products li.list-focus .focus::after, .purchase-wrap .purchase-subscribe .list-products li.list-selected .focus::after {
      content: none; }
  .purchase-wrap .purchase-subscribe .list-products li::before, .purchase-wrap .purchase-subscribe .list-products li:last-child::after {
    content: unset; }
  .purchase-wrap .purchase-subscribe .purchase-product {
    display: flex;
    justify-content: center;
    width: 1594px;
    margin: 0 auto 40px; }
    .purchase-wrap .purchase-subscribe .purchase-product.full .select-box {
      display: block;
      margin-right: 60px; }
    .purchase-wrap .purchase-subscribe .purchase-product.full .product-info {
      width: 558px; }
    .purchase-wrap .purchase-subscribe .purchase-product .select-box {
      display: none; }
      .purchase-wrap .purchase-subscribe .purchase-product .select-box .list-products {
        display: flex;
        align-items: center;
        width: 838px;
        margin-bottom: 23px; }
        .purchase-wrap .purchase-subscribe .purchase-product .select-box .list-products li {
          height: 80px; }
          .purchase-wrap .purchase-subscribe .purchase-product .select-box .list-products li .product {
            width: 462px; }
      .purchase-wrap .purchase-subscribe .purchase-product .select-box .label {
        font-size: 2.8rem;
        font-family: "Yoon Gothic 770", "YoonGothic 700 70", "Yoon윤고딕 770", "YoonGothic 770", "YOONGOTHICPRO770";
        color: #eee;
        margin-right: 26px;
        white-space: nowrap; }
      .purchase-wrap .purchase-subscribe .purchase-product .select-box .purchase-info .label {
        margin-right: 20px; }
      .purchase-wrap .purchase-subscribe .purchase-product .select-box .purchase-info em {
        font-size: 2.8rem;
        color: #ef3484; }
      .purchase-wrap .purchase-subscribe .purchase-product .select-box .purchase-info p {
        margin-top: 10px;
        font-size: 2.2rem;
        color: #777; }
    .purchase-wrap .purchase-subscribe .purchase-product .product-info {
      width: 716px;
      padding: 18px 30px;
      border: 2px solid rgba(238, 238, 238, 0.1);
      border-radius: 8px; }
      .purchase-wrap .purchase-subscribe .purchase-product .product-info li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 2.8rem; }
        .purchase-wrap .purchase-subscribe .purchase-product .product-info li:not(:last-child) {
          margin-bottom: 20px; }
        .purchase-wrap .purchase-subscribe .purchase-product .product-info li span {
          width: 200px;
          color: #a9a9a9; }
        .purchase-wrap .purchase-subscribe .purchase-product .product-info li p {
          width: 320px;
          color: #eee;
          text-align: right; }
  .purchase-wrap .purchase-subscribe .purchase-terms {
    padding: 35px 105px 0;
    border-top: 1px solid #2A2C3E;
    width: 1384px;
    margin: 0 auto 5px; }
    .purchase-wrap .purchase-subscribe .purchase-terms .list-products li {
      height: 72px; }
      .purchase-wrap .purchase-subscribe .purchase-terms .list-products li:last-child .change-option {
        visibility: hidden; }
      .purchase-wrap .purchase-subscribe .purchase-terms .list-products li.list-focus, .purchase-wrap .purchase-subscribe .purchase-terms .list-products li.list-selected {
        color: #a9a9a9; }
        .purchase-wrap .purchase-subscribe .purchase-terms .list-products li.list-focus .focus, .purchase-wrap .purchase-subscribe .purchase-terms .list-products li.list-selected .focus {
          color: #eee;
          box-shadow: inset 0 0 0 4px #eee; }
        .purchase-wrap .purchase-subscribe .purchase-terms .list-products li.list-focus .product, .purchase-wrap .purchase-subscribe .purchase-terms .list-products li.list-selected .product {
          height: 62px; }
        .purchase-wrap .purchase-subscribe .purchase-terms .list-products li.list-focus .input-checkbox[type=checkbox]:checked, .purchase-wrap .purchase-subscribe .purchase-terms .list-products li.list-selected .input-checkbox[type=checkbox]:checked {
          border-color: #ef3484; }
          .purchase-wrap .purchase-subscribe .purchase-terms .list-products li.list-focus .input-checkbox[type=checkbox]:checked::before, .purchase-wrap .purchase-subscribe .purchase-terms .list-products li.list-selected .input-checkbox[type=checkbox]:checked::before {
            background-image: url(../images/purchase/ic-check-focus2.png); }
      .purchase-wrap .purchase-subscribe .purchase-terms .list-products li > div {
        height: 62px;
        padding: 0 20px;
        background-color: transparent; }
        .purchase-wrap .purchase-subscribe .purchase-terms .list-products li > div .input-checkbox {
          position: relative;
          width: 32px;
          height: 32px;
          border: 3px solid #535458;
          border-radius: 4px;
          margin-right: 20px; }
          .purchase-wrap .purchase-subscribe .purchase-terms .list-products li > div .input-checkbox::before {
            width: calc(32px - 14px);
            height: calc(32px - 14px);
            border-radius: 4px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            content: ''; }
          .purchase-wrap .purchase-subscribe .purchase-terms .list-products li > div .input-checkbox[type=checkbox]::before {
            width: 32px;
            height: 32px; }
          .purchase-wrap .purchase-subscribe .purchase-terms .list-products li > div .input-checkbox:checked {
            border: 3px solid #ef3484; }
          .purchase-wrap .purchase-subscribe .purchase-terms .list-products li > div .input-checkbox[type=radio]:checked::before {
            background-color: #ef3484; }
          .purchase-wrap .purchase-subscribe .purchase-terms .list-products li > div .input-checkbox[type=checkbox]:checked::before {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url(../images/purchase/ic-check-focus2.png); }
          .purchase-wrap .purchase-subscribe .purchase-terms .list-products li > div .input-checkbox[type=checkbox]:checked {
            border-color: #535458; }
            .purchase-wrap .purchase-subscribe .purchase-terms .list-products li > div .input-checkbox[type=checkbox]:checked::before {
              background-image: url(../images/purchase/ic-check2.png); }
        .purchase-wrap .purchase-subscribe .purchase-terms .list-products li > div.product {
          width: 430px; }
        .purchase-wrap .purchase-subscribe .purchase-terms .list-products li > div .label {
          font-size: 2.6rem; }
        .purchase-wrap .purchase-subscribe .purchase-terms .list-products li > div.change-option {
          width: 135px;
          height: 62px;
          padding: 0 20px;
          background-color: #2A2C3E;
          border-radius: 8px; }
          .purchase-wrap .purchase-subscribe .purchase-terms .list-products li > div.change-option::before {
            content: unset; }
  .purchase-wrap .purchase-subscribe .purchase-password {
    margin: 50px 0 163px; }
    .purchase-wrap .purchase-subscribe .purchase-password .title {
      font-size: 3.6rem;
      color: #d6d6d6;
      text-align: center;
      margin-bottom: 56px; }
    .purchase-wrap .purchase-subscribe .purchase-password .input-password {
      display: flex;
      align-items: center;
      height: 74px;
      justify-content: center; }
      .purchase-wrap .purchase-subscribe .purchase-password .input-password.focus label {
        color: #ef3484; }
      .purchase-wrap .purchase-subscribe .purchase-password .input-password p {
        position: relative;
        width: 74px;
        height: 74px;
        margin-right: 12px;
        border-radius: 8px;
        text-align: center;
        background-color: #2A2C3E; }
        .purchase-wrap .purchase-subscribe .purchase-password .input-password p:last-child {
          margin-right: 0; }
        .purchase-wrap .purchase-subscribe .purchase-password .input-password p.focus {
          background-color: #080d19; }
          .purchase-wrap .purchase-subscribe .purchase-password .input-password p.focus.entered {
            background: #080d19 url(../images/common/ic-password-w.png) no-repeat center;
            background-size: 26px; }
          .purchase-wrap .purchase-subscribe .purchase-password .input-password p.focus::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            box-shadow: 0 0 0 10px #eee;
            border-radius: 8px;
            box-shadow: 0px 0px 0px 4px #eee; }
          .purchase-wrap .purchase-subscribe .purchase-password .input-password p.focus span {
            position: unset; }
            .purchase-wrap .purchase-subscribe .purchase-password .input-password p.focus span::before {
              height: 40px;
              left: 50%;
              transform: translate(-50%, -50%);
              background-color: #eee; }
        .purchase-wrap .purchase-subscribe .purchase-password .input-password p.entered {
          background: #2A2C3E url(../images/common/ic-password-w.png) no-repeat center;
          background-size: 26px; }
      .purchase-wrap .purchase-subscribe .purchase-password .input-password input {
        position: absolute;
        top: 0;
        left: 0;
        width: 74px;
        height: 74px;
        opacity: 0;
        z-index: 10; }
      .purchase-wrap .purchase-subscribe .purchase-password .input-password label {
        height: 74px;
        line-height: 74px;
        font-size: 3.2rem;
        color: #777; }
      .purchase-wrap .purchase-subscribe .purchase-password .input-password .container {
        display: flex; }
      .purchase-wrap .purchase-subscribe .purchase-password .input-password p {
        border: none; }
        .purchase-wrap .purchase-subscribe .purchase-password .input-password p.focus {
          box-shadow: none; }
  .purchase-wrap .purchase-subscribe .button-area {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }
